<!doctype html>
<html>
    {{- partial "head.html" . -}}
    <body id="page-top">
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
