{{ partial "head" . }}
<body id="page-top">
	<div class="site-wrap">
		{{ partial "header-default" . }}
		<section class="list">
			{{.Content}}
			<div class="post-list">
				{{ range .Pages }}
				<article class="post-item">
					<h2>
						<a href="{{.Permalink}}">{{.Title}}</a>
					</h2>
					<p class="post-description">{{.Description}}</p>
					<div class="metadata">
						<span class="date">{{ dateFormat "02 January, 2006" .PublishDate.Local}}</span> | 
						<span>Reading Time: {{.ReadingTime}} mins</span>
					</div>
				</article>
				<hr>
				{{ end }}
			</div>
		</section>
		{{ partial "footer" . }}
	</div>
</body>
</html>
