{{ partial "head" .}}
	<body id="page-top">
		<div class="site-wrap">
			{{ partial "header-default" . }}
			<section class="post">
				<h1 class="post-title">{{.Title}}</h1>
				<div class="post-metadata">
					<span class="post-date">Published: {{ dateFormat "02 January, 2006" .PublishDate.Local}}</span>
					<span>Reading Time: {{.ReadingTime}} mins</span>
				</div>
				{{.Content}}
			</section>
			{{ partial "footer" . }}
		</div>
	</body>
</html>

