<footer>
	<nav class="back-to-top">
		<a href="#page-top" title="Back to Top">
			<i class="fa fa-arrow-up"></i>
			Back to Top
		</a>
	</nav>
	<div>
		<span class="copyright">
			Copyright &copy; {{ .PublishDate.Year }}
			{{- if lt .PublishDate.Year now.Year -}}
			 - {{ now.Format "2006" }}
			{{- end }} Kevin Zuern
		</span>
		<br>
		<span>This website is on GitLab: <a href="https://gitlab.com/zuern/zuern.ca">View the Source</a></span>
	</div>
</footer>
