<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{ if .Description }}
		<meta name="description" content="{{.Description}}">
		{{ end}}
		{{ hugo.Generator }}
		<title>{{ $.Title }} | zuern.ca</title>
		<link rel="stylesheet" href="/css/fontawesome/css/all.min.css"/>
		{{ $styles := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css")}}
		<link rel="stylesheet" href="{{ $styles.Permalink }}" />
		{{ range .AlternativeOutputFormats -}}
			{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
		{{ end -}}
	</head>
