<nav class="links">
	<a href="/blog" title="Blog">Blog</a>
	<a class="icon-only" href="https://gitlab.com/zuern" title="GitLab">
		<i class="fab fa-gitlab" aria-hidden="true"></i>
		<span class="sr-only">GitLab</span>
	</a>
	<a class="icon-only" href="https://keybase.io/zuern" title="Keybase">
		<i class="fab fa-keybase" aria-hidden="true"></i>
		<span class="sr-only">Keybase</span>
	</a>
	<a class="icon-only" href="https://www.linkedin.com/in/kevinzuern/" title="LinkedIn">
		<i class="fab fa-linkedin" aria-hidden="true"></i>
		<span class="sr-only">LinkedIn</span>
	</a>
</nav>
