:root {
  --white: #fff;
  --grey-200: #ddd;
  --grey-300: #bbb;
  --grey-400: #666;
  --grey-500: #4d4d4d;
  --grey-600: #333;
  --grey-700: #272822;
  --black: #000;
  --blue-med: hsla(212, 71%, 48%, 1);

  --bg: var(--white);
  --chromebg: var(--black);
  --footer-color: var(--white);
  --header-color: var(--white);
  --heading-link: var(--black);
  --highlightbg: #282c34;
  --link-color: var(--blue-med);
  --nav-link-border: var(--white);
  --post-metadata-border: var(--grey-300);
  --post-metadata: var(--grey-500);
  --text-color: var(--black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1e2326;
    --white: #000;
    --grey-200: #272822;
    --grey-300: #333;
    --grey-400: #4d4d4d;
    --grey-500: #666;
    --grey-600: #bbb;
    --grey-700: #ddd;
    --black: #fff;
    --blue-med: hsl(212.2, 100%, 70%);

    --footer-color: var(--black);
    --header-color: var(--black);
    --nav-link-border: var(--black);
    --post-metadata: var(--grey-600);
  }
}
