// Desktop-only styles
$prose-width: 750px;
$code-max-width: 100vw;

@import "colors";

@media all and (min-width: $prose-width) {
  .site-wrap {
    > section,
    > section .highlight {
      display: grid;
      align-items: start;
      grid-template-columns: [full-start] 1fr [main-start] $prose-width [main-end] 1fr [full-end];
    }

    > section {
      max-width: none;
      padding: 0 0 2em 0;

      > * {
        grid-column: main;
        img {
          max-width: 100%;
        }
      }

      .splash {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .splash,
      .highlight {
        grid-column: full;
        width: 100%;

        > div,
        > pre {
          overflow-x: auto;
          max-width: $code-max-width;
          grid-column-start: main;
        }

        img {
          height: auto;
          max-height: 100vh;
          max-width: 100%;
        }
      }

      hr {
        width: 100%;
      }
    } // section
  } //.site-wrap
}

@media all and (min-width: 500px) {
  .site-wrap {
    .post {
      .post-metadata {
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }
}
