@font-face {
  font-family: "Fira Mono";
  font-display: "swap";
  src: url("/css/fonts/Fira_Mono/FiraMono-Regular.ttf");
}
@font-face {
  font-family: "Fira Sans";
  font-display: "swap";
  src: url("/css/fonts/Fira_Sans/FiraSans-Regular.ttf");
}
@font-face {
  font-family: "Merriweather";
  font-display: "swap";
  src: url("/css/fonts/Merriweather/Merriweather-Light.ttf");
}

@import "colors";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
  overflow-wrap: break-word;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
} // h1, h2, h3, h4, h5, h6

.headshot h1 {
  font-variant: small-caps;
}

h1 {
  font-weight: 300;
  text-align: center;

  &.post-title {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  font-variant-caps: normal;
}

body {
  font-family: "Fira Sans", sans;
  font-size: 13pt;

  .post {
    font-family: "Merriweather", serif;
    line-height: 1.8;

    > {
      margin: 0 0 1.75rem 0;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 2rem;
      margin-bottom: 0;
    }

    ul {
      margin-top: 0;
    }
  }
}

.highlight {
  font-size: 0.8em;
}

code {
  font-family: "Fira Mono", monospace;
}

.site-wrap {
  section {
    h1 {
      font-size: 1.8em;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      a {
        color: var(--heading-link);
      }
    }
  } // section
} // .site-wrap

p {
  > code {
    outline: 1px solid;
    padding: 0 1px;
  }
}
