$headshot-size: 100px;

@import "colors";
@import "typography";

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  background-color: var(--bg);
}

.site-wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  color: var(--text-color);

  .header,
  > footer {
    align-items: center;
    background-attachment: fixed;
    background-color: var(--chromebg);
    background-image: url("../img/bg2.jpg");
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--footer-color);
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 10px;
    text-align: center;

    nav a {
      padding: 5px 25px;
      border: 1px solid var(--nav-link-border);
      border-radius: 25px;
      margin: 0 10px;
      text-decoration: none;
      display: inline-block;
      opacity: 0.7;

      &:hover {
        opacity: 1;
        transition: opacity 0.3s;
      }

      &.icon-only {
        padding: 6px 8px 4px 8px;
        margin: 0 2px;
      }
    } // nav a
  } // .header, > footer

  > footer {
    background-position-y: bottom;
    min-height: 300px;
    flex-direction: column;

    a {
      color: var(--footer-color);
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
      &:visited {
        color: var(--footer-color);
      }
    }

    > div,
    > nav {
      margin: 10px 0;
    }
  }

  .header {
    background-position-y: top;

    .header-wrap {
      margin: 15px 0;

      // home link
      a {
        color: var(--header-color);
        text-decoration: none;
        &:visited {
          color: var(--header-color);
        }
      }

      h1 {
        margin: 0;
      }

      .headshot {
        display: block;

        img {
          border-radius: $headshot-size;
          border: 3px solid var(--header-color);
          max-width: $headshot-size;
        }
      }

      .blurb {
        font-weight: 300;
        max-width: 550px;
      }

      hr {
        border: 0;
        width: 75%;
        height: 1px;
        background-image: linear-gradient(
          to right,
          rgba(255, 255, 255, 0.25),
          rgba(255, 255, 255, 1),
          rgba(255, 255, 255, 0.25)
        );

        &:nth-of-type(2) {
          max-width: 45%;
        }
      } // hr

      nav {
        display: block;
        padding-top: 10px;
      } // .nav
    } // .header-wrap
  } // .header

  > section {
    max-width: 100%;
    display: block;
    flex-grow: 1;
    align-content: start;
    padding-bottom: 2em;

    > *:not(ul, ol) {
      padding: 0 10px;
    }

    > .splash {
      padding: 0;
    }

    img {
      max-width: 100%;
      margin: 1em 0;
    }
    /* Glyph, by Harry Roberts */
    hr {
      overflow: visible; /* For IE */
      padding: 0;
      border: none;
      border-top: medium double var(--grey-600);
      color: var(--grey-600);
      text-align: center;
      margin-top: 2em;
      &:after {
        content: "§";
        display: inline-block;
        position: relative;
        top: -0.7em;
        padding: 0 0.25em;
      }
    }

    .highlight {
      background: var(--highlightbg);
      pre {
        overflow-x: auto;
      }
    }

    &.list {
      h1 {
        margin-bottom: 0;
      }
      .post-list {
        .post-item {
          h2 {
            font-weight: 100;
            margin-bottom: 0;
          }
          p,
          .metadata {
            font-size: 0.8em;
            display: inline-block;
            color: var(--post-metadata);
          }
        } // .post-item
        hr {
          border-top: 1px solid var(--grey-200);
          margin: 10px 0;
          &:after {
            content: "";
          }
        } // hr
      } // .post-list
    }

    h2 a {
      text-decoration: none;
      border-bottom: 1px solid var(--white);
    }

    a {
      color: var(--link-color);
      text-decoration: none;
      border-bottom: 1px dashed;
      transition: border-bottom 0.1s linear;

      &:hover {
        border-bottom: 1px solid;
      }
    } // a
  } // > section

  .post {
    hr:after {
      top: -1em;
    }
    .post-metadata {
      align-items: center;
      color: var(--post-metadata);
      display: flex;
      flex-direction: column;
      font-size: 0.8em;
      margin: 0 0 0 0;
      border-top: 1px solid var(--grey-300);
      border-bottom: 1px solid var(--grey-300);

      span {
        margin: 5px 0;
      }
    } // .post-metadata

    div:has(table) {
      overflow-x: auto;
    }
  } // .post
} // .site-wrap

.homepage {
  .site-wrap {
    display: block;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    height: 100vh;
    background-position-y: bottom;
  } // .header
} // .homepage

@import "desktop";
