{{ partial "head" . }}
<body id="page-top">
	<div class="site-wrap">
		{{ partial "header-homepage" . }}
		<section class="page">
			<h1>404 Not Found</h1>
			<p>
				Sorry, the page you were looking for couldn't be found.
				<a href="/">Go Home</a>
			</p>
		</section>
		{{ partial "footer" . }}
	</div>
</body>
</html>
